# Switch PHP versions
phpv() {
    valet stop
    brew unlink php@7.1
    brew unlink php@7.2
    brew unlink php
    brew link --force --overwrite $1
    brew services start $1
    composer global update
    rm -f ~/.config/valet/valet.sock
    valet install
}

alias php71="phpv php@7.1"
alias php72="phpv php@7.2"
alias php73="phpv php"

# Create a new directory and enter it
function mkd() {
   mkdir -p "$@" && cd "$@"
}

# Global homestead
function homestead() {
    ( cd ~/Homestead && vagrant $* )
}

#small functions
function gocode() {
   cd ~/code
}

function govalet() {
  cd ~/code/valet
}

# Copy ssh key
function copysshkey() {
    pbcopy < ~/.ssh/id_rsa.pub
}

function pcoverage() {
    echo "Turning on xdebux" &&
    xon &&
    pc &&
    xoff
}

function pall() {
    echo "First we clear the laravel.log" &&
    sleep .8 &&

    echo "CLearing the log..."
    echo -n '' > storage/logs/laravel.log &&

    sleep .8 &&

    echo "Now we run all the unit tests, " &&
    echo "if there is an error from your tests it will be displayed in the newly generated laravel.log" &&
    vendor/bin/phpunit
}

function resetVendor() {
    echo 'First removing vendor' &&
    rm -rf vendor/ &&
    echo 'Then we remove composer.lock' &&
    rm composer.lock &&
    echo 'Then we install composer.json' &&
    composer install &&
    echo 'All done!'
}

# self invoking functions
ssh-add ~/.ssh/ao-jhelmich-Github > /dev/null 2>&1
ssh-add ~/.ssh/id_rsa > /dev/null 2>&1

wipavans () {
	git add .
	NEXT_COMMIT_MESSAGE=`curl -s http://whatthecommit.com/index.txt`
	git commit -m "[WIP] $NEXT_COMMIT_MESSAGE"
}

createDatabase () {
    mysql -uroot -e "create database $1"
}